#navlist {
    display: none;
}

@media (max-width: 1000px) {

#navlist {
    display: block;
    width: 100%;
    height: 85vh;
    background-color: rgba(0, 0, 0, 0.86);

    z-index: 1;
}
ul {
    font-size: 30px;
    margin-top: 0;
    padding-top: 9rem;
    padding-left: 0;
    color: white;
    list-style-type: none;
     
}

a {
    color: white;
    padding: 1rem;
    text-decoration: none;
}
.list-content-container {
    width: 250px;
    height: 360px;
    text-align: center;
    margin: auto;
    

}
}

